<nav class="navigation navigation--{{modifier}}">
    <img class="navigation__logo" alt="Logo gopher" src="assets/images/gopher.png">
    <ul class="navigation__links">
        <li class="navigation__item"><a href="members.html" class="navigation__link--{{modifier}}">Members</a></li>
        <li class="navigation__item"><a href="" class="navigation__link--{{modifier}}">???</a></li>
        <li class="navigation__item"><a href="" class="navigation__link--{{modifier}}">???</a></li>
    </ul>
</nav>
